<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
  <!-- Website Top Name -->
  <title>Food Decision Maker</title>
</head>
<style>
  body {
    background: url("{{ url_for('static', filename='images/coffee.gif') }}")
                    no-repeat center center fixed;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
  }
</style>
<body>
  <!-- Actual Page Formatting -->
  <h1 class="title">Food Decision Maker</h1>
  <p class="pictureCaption">Struggling to find places to eat? Let me help with that!</p>
  <div class="container">
    <!-- Directing into search page... -->
    <a href="{{ url_for('search') }}">
      <button class="startButton">START</button>
    </a>
  </div>
</body>
</html>